<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="MMABooksEntities" connectionString="metadata=res://*/MMABooks.csdl|res://*/MMABooks.ssdl|res://*/MMABooks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;attachdbfilename=C:\Users\Nick\Desktop\MMABooks.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MMABooksEntities1" connectionString="metadata=res://*/MMABooksEntity.csdl|res://*/MMABooksEntity.ssdl|res://*/MMABooksEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\MMABooks.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MMABooksEntitiess" connectionString="metadata=res://*/MMABooks.csdl|res://*/MMABooks.ssdl|res://*/MMABooks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\MMABooks.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MMABooksEntities2" connectionString="metadata=res://*/MMABooks.csdl|res://*/MMABooks.ssdl|res://*/MMABooks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\MMABooks.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MMABooksEntities3" connectionString="metadata=res://*/MMABooks.csdl|res://*/MMABooks.ssdl|res://*/MMABooks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\MMABooks.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MMAEntities" connectionString="metadata=res://*/MMA.csdl|res://*/MMA.ssdl|res://*/MMA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;attachdbfilename=C:\Users\Nick\Desktop\MMA.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MMABooksEntities4" connectionString="metadata=res://*/MMABooks.csdl|res://*/MMABooks.ssdl|res://*/MMABooks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;attachdbfilename=C:\Users\laptopp\Desktop\MMABooks.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>